<ul>
  <% product.errors.messages.each do |field_name, messages| %>
    <li>
      <%= field_name %>:
      <ul>
        <% messages.each do |message| %>
          <li> <%= message %> </li>
        <% end %>
      </ul>
    </li>
  <% end %>
</ul>

<form action='/admin/products/<%= product.id %>' method='POST'>
  <input type="hidden" name='_method' value='PUT'>
  <input name='title' type='text' placeholder='Product Title' value="<%= product.title %>">
  <textarea name='description' placeholder='Product Description'><%= product.description %></textarea>
  <input name='price' placeholder='Product price' type='number' value="<%= product.price %>">

  <input type='submit' value='Update product'>
</form>
